@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    }
    
    body{
        
    text-align: center; 
    
    }
h1{
    font-size: 100px;
    font-family: 'Comic Neue', cursive;
    color: rgb(0, 0, 0)
}

.clickme:hover{
    background-color: rgb(24, 67, 187);
    cursor: grab;
    
    
    }


ytp{
    color: rgb(182, 8, 8);
    font-size: 21px;
    position: absolute;
   
 margin-right: auto;
padding: 10px;
margin: 100px

        
  
}